*{
    margin: 0;
   box-sizing: border-box;
   color: #ffffff;
    
}

body{
    background-color: #060606;
}


.container_banner{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header_body{
    display: flex;
    justify-content: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
    height: 300px;
}
.container{
    margin: auto;

    justify-content: space-between;
    max-width: 1200px;
  
}

.menu ul {
    width: 100%;
}


.menu  ul , li{
    display: flex;
    justify-content: end;
    flex-direction: row;
    text-decoration: none;
    padding:2px;
    padding-right: 10px;
   
}

.menu{

background-color: black;
width: 100%;
color: #ffffff; 
font-family:'Tektur', cursive;

}

main .title{
color: white;
font-size: 35px;
padding-left: 10px;
}

.gallery{
display: flex;
justify-content:center;
flex-wrap: wrap;
align-items: center;
margin: 5px;



}

main .title{
    margin: 10px;
    text-align: center;
    display: block;
    font-family: 'Tektur', cursive;
    font-weight: 600;
    color: #ebe408;
    text-shadow: 0px 0px 7px #827b06;
}
.msg{
    text-align: center;
    font-size: 24px;
    color: #818181;
}




main .f1,
.f2,
.f3 {

border-radius: 20px;
height: 250px;
width: 250px;
border: 2px solid #ebe408;
margin: 10px;
cursor: pointer;
}

.f1{
    background-image: url(../images/p1.jpg);
    background-size:cover;
   
}

.f2{
    background-image: url(../images/p2.jpg);
    background-size: cover;
}
.f3{
    background-image: url(../images/p3.jpg);
    background-size: cover;
}





.desc p {
    font-size: 22px;
    margin-top: 20px;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
    color:#bdbdbd;
    margin-bottom: 20px;
}

.desc span {
    color: #ebe408;
}


.lines{
cursor: pointer;
display: flex;
border-radius: 10px;
border: 2px solid #323131;
padding: 10px;
margin-left: 20px;
margin-right: 20px;
min-width: 300px;


}


.lines:hover{

box-shadow: 0px 0px 10px #ebe408;

}
.menu_line{

margin-top: 10px;
height: 25px;
width: 4px;
background-color: #ebe408;
}

.desc_line{

    margin-top: 10px;
    padding-left: 10px;
}

.conjs{
    display: flex;
    flex: 1;
    flex-direction:row;
    flex-wrap: wrap;
   
   
  
  
}


.conj1{
    flex: 1;
    display: flex;
    flex-direction: column;
 
   
   
}

.conj2{
    flex: 1;
  display: flex;
 flex-direction: column;



   
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #ebe408;

}

.menu_line{
    margin:10px;
   
}
.body_footer{
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-top: 2px solid #434343;
    color: #323131;
}
.body_footer a {
    color:#525151;
    text-decoration:none;
    font-size: normal;
}

.body_footer a:hover{
    color: #ffffff;
}

@media (max-width:425px){
    .header_body{
        
        background-image: url(../images/banner-mobile.jpg);
        background-size:contain;
        background-repeat: no-repeat;
        height: 100px;
    }

}